<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.jpg') }}">
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

  <title>Breast Cancer Detection</title>
</head>

<body>

  <!--Home Section (1)-->
  <section id="Banner">
    <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" alt="Logo">
    <div class="banner-text">
      <h1>Detect-Mammo</h1>
      <p>Your Life And Your Family's Life Matters!</p>
      <div class="Banner-btn">
        <a href="https://www.cancer.org/cancer/breast-cancer.html"><span></span>American Cancer Society</a>
        <a href="https://www.bcfe.org/en"><span></span>Breast Cancer Foundation in Egypt</a>
      </div>
    </div>
    <div class="desktoptext">
      <p>"A breast cancer detection web tool that uses a deep learning algorithm to analyze mammogram images and detect
        signs of breast cancer."</p>
      <p>"Detect-Mammo provides a valuable tool for early detection, which is crucial for successful treatment of breast
        cancer."</p>
      <p>"We also provide information about breast cancer awareness, statistics, and treatment options."</p>
      <p>Wishing you Health , Safety and Happiness 🤍</p>
    </div>
  </section>









  <!--Side Navigation Bar-->
  <div id="sidenav">
    <nav>
      <ul>
        <li><a href="#Banner">HOME</a></li>
        <li><a href="#sec1">HOW IT WORKS?</a></li>
        <li><a href="#awareness">AWARENESS</a></li>
        <li><a href="#infos">STATISTICS</a></li>
        <li><a href="#Banner2">ASSESMENT</a></li>
        <li><a href="#ref">REFERENCES</a></li>
      </ul>
    </nav>
  </div>
  <div id="menuBtn">
    <img src="{{ url_for('static', filename='img/menu.png') }}" id="menu" alt="menu">
  </div>










  <!--How the App Works Section (2)-->
  <section id="sec1">
    <div class="title-text">
      <p>🎗</p>
      <h1>How It Works</h1>
    </div>
    <div class="feature-box">
      <div class="features">


        <h1>🎗 Choose the mammogram</h1>
        <div class="sec1describtion">
          <div class="sec1text">
            <p>Select your Mammogram you want to upload from your gallery, preferable extentions for mammograms (jpg ,
              png) and press Detect to start detection process.</p>
          </div>
        </div>




        <h1>🎗 Kindly Wait</h1>
        <div class="sec1describtion">
          <div class="sec1text">
            <p>You will kindly wait for a few seconds as the result is being processed by our model.</p>
          </div>
        </div>




        <h1>🎗 Result Output</h1>
        <div class="sec1describtion">
          <div class="sec1text">
            <p>Detection result will be displayed.</p>
          </div>
        </div>
      </div>


      <div class="fimg">
        <img src="{{ url_for('static', filename='img/sec1.png') }}" alt="slogan">
      </div>
    </div>
  </section>










  <!--Steps for Awareness (3)-->
  <section id="awareness">
    <div class="title-text">
      <p>🎗</p>
      <h1>Breast Cancer Awareness</h1>
      <h3>4 Simple Steps for Early Detection</h3>
    </div>
    <div class="abox">
      <div class="item">
        <img src="{{ url_for('static', filename='img/awa1.jpg') }}" alt="1">
        <div class="overlay"></div>
        <div class="des">
          <h3> Practice Routine Self-Exams</h3>
        </div>
      </div>
      <div class="item">
        <img src="{{ url_for('static', filename='img/awa2.jpg') }}" alt="2">
        <div class="overlay"></div>
        <div class="des">
          <h3> Know Your Risks and Family History</h3>
        </div>
      </div>
      <div class="item">
        <img src="{{ url_for('static', filename='img/awa4.jpg') }}" alt="3">
        <div class="overlay"></div>
        <div class="des">
          <h3> Visit Your Doctor Regularly</h3>
        </div>
      </div>
      <div class="item">
        <img src="{{ url_for('static', filename='img/awa3.jpg') }}" alt="3">
        <div class="overlay"></div>
        <div class="des">
          <h3> Know When to Get a Mammogram</h3>
        </div>
      </div>
    </div>
  </section>










  <!--Statistics (4)-->
  <section id="infos">
    <div class="title-text">
      <p>🎗</p>
      <h1>Some Breast Cancer Statistics</h1>
    </div>

    <div class="row">
      <div class="coloumn">
        <h2>World Wide Statistics</h2>
        <p>
          In 2020, about 2.3 million women were diagnosed with breast cancer worldwide and 685,000 died. Every 14
          seconds , somewhere in the world, a woman is diagnosed with breast cancer. It is the most common
          cancer in women. In 2012, it represented about 12 percent of all new cancer cases and 25 percent of all
          cancers in women.
        </p>
      </div>
      <div class="coloumn">
        <h2>United States Statistics</h2>
        <p>
          In 2023, an estimated 297,790 women will be diagnosed with breast cancer in the U.S., making it the most
          common cancer in American women. Every two minutes a woman in the U.S. is diagnosed with the disease.From 2005
          to 2014, the most recent 10 years for which data are available, it showed that it is more common in black
          women.
        </p>
      </div>
      <div class="coloumn">
        <h2>Survival Statistics</h2>
        <p>
          The five- and 10-year relative survival rates for women with invasive breast cancer are 91 percent and 84
          percent, respectively. There are more than 4 million breast cancer survivors in the United States,
          including women still being treated and those who have completed treatment.
        </p>
      </div>
    </div>
  </section>







  <!--Application (5)-->
  <section id="Banner2">
    <div class="title-text1">
      <p>🎗</p>
      <h1>Assesment</h1>
      <div>

        <!-- <form method="POST" enctype="multipart/form-data">
          {{ form.csrf_token (class_= 'token') }}
          {{ form.file.label (class_= 'label') }} {{ form.file (class_='file') }}
          <br><br>
          {{ form.submit (class_ ='submit')}}
        </form> -->

        <form method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
          {{ form.csrf_token (class_= 'token') }}
          {{ form.file.label (class_= 'label') }} {{ form.file (class_='file') }}
          <br><br>
          {{ form.submit (class_ ='submit')}}
        </form>

        {% if results %}
        <h2>Results:</h2>
        <img src="{{ file_path }}" alt="Uploaded Image" width="300" , height="300">
        <ul>

          <li class="result_list_item">Your Result : {{ results }}</li>
          {% if confidence %}
          <li class="result_list_item">Confidence : {{ confidence }}</li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
  </section>









  <!--References (6)-->
  <section id="ref">
    <div class="title-text">
      <p>🎗</p>
      <h1>References</h1>
    </div>
    <div class="foot-row">
      <div class="foor-left">
        <h1>References</h1>
        <p>📄 Breast Cancer Research Foundation (BCRF)
        <p>
        <p>📄 American Cancer Society
        <p>
        <p>📄 Breast Cancer Foundation in Egypt</p>
      </div>
      <div class="foor-right">
        <h1>Contact Us</h1>
        <p>✉ anyemail@asu.edu.eg</p>
        <p>📞 +201006290101</p>
      </div>
    </div>
  </section>

  <script>

    var manuBtn = document.getElementById("menuBtn");
    var sideNav = document.getElementById("sidenav");
    var manu = document.getElementById("menu");

    sideNav.style.right = "-155px";

    manuBtn.onclick = function () {
      if (sideNav.style.right == "-155px") {
        sideNav.style.right = "0";
        manu.src = "{{url_for('static',filename='img/close.png')}}";
      }
      else {
        sideNav.style.right = "-155px";
        manu.src = "{{url_for('static',filename='img/menu.png')}}";
      }
    }

    function validateForm() {
      const fileInput = document.querySelector('input[type=file]');
      if (fileInput.files.length === 0) {
        alert('No file is selected , please select a file.');
        return false; // prevent form submission
      }
      return true; // allow form submission
    }


  </script>

</body>

</html>